Data Structures Project Requirement 
Last Update: 09/03/2020

Classes 
    Contestant
        Variables: 
            contestantNumber int 
            contestantName string
            contestantGrantTotal float
            ...
        Methods: 
            Constructors 
            Destructor
            Setters
            Getters 
            Display
            ...

    ContestantNode 
        Variables: 
            playerData Contestant 
            nextNode * ContestantNode
            prevNode * ContestantNode
            ...
        Methods: 
            Constructors 
            Destructor
            Setters
            Getters 
            Display
            ...

    ContestantLinkedList (Linear Circular)
        Variables: 
            head * ContestantLinkedList
            ...
        Methods:
            ifEmpty
            ifFull
            InsertAtFront void 
            InsertAtBack void 
            Search Contestant
            DisplayList
            DestroyList void 
            ...

    Wheel 
        Variables: 
            sectionID int 
            sectionValue int 
            sectionType string 
            ...
        Methods:
            Constructors 
            Destructor
            Setters
            Getters 
            Display
            ...

     WheelNode
        Variables: 
            sectionData Wheel 
            nextNode * Wheel
            prevNode * Wheel
            ...

        Methods: 
            Constructors 
            Destructor
            Setters
            Getters 
            Display
            ...

     WheelLinkedList (Doublely Circular)
        Variables: 
            head * WheelLinkedList
            ...

        Methods: 
            Search
            DestroyList
            ...
    GameFeatures (Singleton)
        Methods: 
            
Driver: (Gameplay)
    Variables: 
        ...
    ...    

Functions: 
    RandomNumberGenerator int 
    WheelCreator bool 
    MemoryAllocator
